[Desktop Entry]
Name=simple-plasmoid-template
Comment=A simple KDE Plasma plasmoid (widget) template

Icon=kdeapp
Type=System
X-KDE-ServiceTypes=Plasma/Applet

X-KDE-PluginInfo-Author=author_name
X-KDE-PluginInfo-Name=org.kde.plasma.simple-plasmoid-template
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=https://kde.org
X-KDE-PluginInfo-Category=Utilities
X-KDE-PluginInfo-License=GPL-3.0+
X-KDE-PluginInfo-EnabledByDefault=true

X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml
